<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="internalOnly" package="ZTn.AndroidPlayGround" android:versionCode="1" android:versionName="0.0.1">
  <uses-sdk android:targetSdkVersion="14" />
  <application android:label="ZTn Android">
  </application>
</manifest>